# ignore tenant related files
okapi_token
okapi_url
tenant

# ignore directories created during runtime
Inventory/data/
Inventory/hrid/
Inventory/log_deleted_records

Agreements/log_updated_records
Agreements/data
Agreements/uuid

# ignore another file
Inventory/-H
Agreements/-H